@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white bg-[#010C15] m-4 lg:m-[30px] font-fira;
  }

  html {
    height: stretch;
    width: stretch;
  }

  body {
    height: stretch;
    width: stretch;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  #root {
    @apply flex flex-col justify-between border rounded-lg border-midnight-slate bg-midnight-blue lg:h-full h-auto w-full;
    min-height: stretch;
  }

  #content::-webkit-scrollbar {
    width: 10px;
  }

  #content::-webkit-scrollbar-thumb {
    @apply bg-midnight-slate;
  }

  #tab-bar::-webkit-scrollbar {
    display: none;
  }

  #form-contact::-webkit-scrollbar {
    width: 10px;
  }

  #form-contact::-webkit-scrollbar-thumb {
    @apply bg-midnight-slate;
  }

  #contributions::-webkit-scrollbar {
    @apply hidden;
  }

  #contributions-skeleton::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer components {
  /* Navigasi */
  .nav-link {
    @apply flex items-center h-auto border-b lg:border-b-0 px-fluid py-4 lg:py-0 lg:px-6 border-midnight-slate text-base lg:text-sm transition-all hover:bg-midnight-slate hover:text-white text-slate-muted;
  }
  .nav-active {
    @apply lg:border-b-2 lg:border-b-soft-orange text-white;
  }

  /* Footer */
  .footer-title {
    @apply flex items-center h-full px-6 text-sm lg:border-r text-slate-muted lg:border-midnight-slate;
  }
  .footer-sosmed {
    @apply flex items-center h-full text-slate-muted text-sm transition border-midnight-slate hover:bg-midnight-slate;
  }
  .sosmed-icon {
    @apply w-6 h-6 fill-slate-muted opacity-35 lg:opacity-100 lg:ml-1;
  }

  /* Home Page */
  .circle-blur-green {
    background: radial-gradient(
      circle at 50% 50%,
      #43d9ad,
      rgba(76, 0, 255, 0)
    );
    @apply absolute opacity-50 top-[50%] md:top-[20%] lg:top-[10%] left-0 sm:left-[15%] md:left-[35%] lg:left-[43%] w-[200px] h-[200px] md:h-[300px] md:w-[300px] lg:h-[400px] lg:w-[400px] rounded-full blur-[100px];
  }
  .circle-blur-blue {
    background: radial-gradient(
      circle at 50% 50%,
      #4d5bce,
      rgba(76, 0, 255, 0)
    );
    @apply absolute  top-[25%] opacity-50 left-[9%] sm:left-[30%] md:left-[50%] lg:left-[60%] xl:left-[70%] h-[400px] w-[400px] rounded-full blur-[100px];
  }
  .card-game {
    background: linear-gradient(180deg, #237b6d, rgba(67, 217, 173, 0.13));
    @apply p-6 rounded-lg border border-onyx h-[340px] w-[415px] flex items-center justify-center relative;
  }

  /* Projects */
  .projects-container {
    @apply grid grid-cols-1 md:gap-x-3 lg:gap-x-10 gap-y-5 md:grid-cols-2 xl:grid-cols-3;
  }

  /* Card */
  .card-header {
    @apply flex items-center mb-2;
  }
  .card-title {
    @apply mr-3 text-sm font-bold text-periwinkle-blue;
  }
  .card-subtitle {
    @apply text-sm text-slate-muted;
  }
  .card-body {
    @apply relative overflow-hidden border border-midnight-slate rounded-2xl bg-midnight-navy;
  }
  .card-description {
    @apply mb-6 text-sm text-slate-muted;
  }
  .card-link {
    @apply px-2 py-1.5 rounded-lg bg-midnight-slate hover:bg-slate-muted/35 text-white text-sm;
  }

  /* Contacts */
  .form-contact-container {
    @apply flex items-center justify-center w-full h-full py-10  lg:border-r border-midnight-slate lg:py-0;
  }
  .form-contact {
    @apply w-[70%] sm:max-w-xs text-sm lg:max-w-xs text-slate-muted;
  }
  .form-input {
    @apply bg-midnight-navy border-2 rounded-md focus:ring-2 ring-slate-muted/50 focus:border-slate-muted outline-none text-sm border-midnight-slate p-1.5;
  }
  .form-textarea {
    @apply bg-midnight-navy border-2 resize-none rounded-md focus:ring-2 ring-slate-muted/50 focus:border-slate-muted outline-none text-sm border-midnight-slate p-1.5 h-32;
  }
  .form-btn {
    @apply px-3.5 py-2.5 text-xs text-white rounded-lg bg-slate-muted/20 hover:bg-slate-muted/40;
  }
}

@layer utilities {
  /* Padding Responsive */
  .p-fluid {
    @apply p-[1.5rem];
  }
  .px-fluid {
    @apply px-[1.5rem];
  }
}
